.root
{
    -fx-font-family: 'Roboto Regular';
    tag-color: gray;
}

.vertical-spacing
{
    -fx-spacing: 12px;
}

.horizontal-spacing
{
    -fx-spacing: 8px;
}

.label
{
    -fx-text-fill: #101010;
}

.tag-box
{
    -fx-hgap: 8;
    -fx-vgap: 8;
}

.tag-label
{
    -fx-background-color: tag-color;
    -fx-padding: 5px 10px;
    -fx-border-radius: 10px;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-background-radius: 10px;
    -fx-background-insets: 1px;
    -fx-text-fill: ladder(tag-color, white 49%, black 50%);
}

.tag-label.editable:hover
{
    -fx-border-color: red;
    -fx-background-color: derive(tag-color, -40%);
    -fx-cursor: hand;
}

.tag-label.ellipsis
{
    -fx-border-color: rgba(0,0,0,0.1);
    -fx-text-fill: rgba(0,0,0,0.4);
}

.text-field
{
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
}

.add-button
{
    -fx-background-image: url("../icons/add.png");
    -fx-background-size: 32px 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.add-button:hover
{
    -fx-background-image: url("../icons/add-hover.png");
}

.add-button:pressed
{
    -fx-background-image: url("../icons/add-pressed.png");
}