.root
{
    -fx-font-family: 'Roboto Regular';
}

.vertical-spaced-box
{
    -fx-padding: 6;
    -fx-spacing: 4;
}

.spaced-box
{
    -fx-padding: 12;
    -fx-spacing: 8;
}

.spaced-flow
{
    -fx-padding: 12;
    -fx-hgap: 8;
    -fx-vgap: 8;
}

.tag-label
{
    -fx-padding: 5px 10px;
    -fx-border-radius: 10px;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-background-radius: 10px;
    -fx-background-insets: 1px;
}

.tag-label.ellipse
{
    -fx-border-color: #c9c9c9;
    -fx-text-fill: #a9a9a9;
    -fx-background-color: rgba(128, 128, 128, 0.1);
}

.text-field
{
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
}

.add-button
{
    -fx-background-image: url("../icons/add.png");
    -fx-background-size: 32px 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.add-button:hover
{
    -fx-background-image: url("../icons/add-hover.png");
}

.add-button:pressed
{
    -fx-background-image: url("../icons/add-pressed.png");
}

.scroll-pane
{
    -fx-background-color: #f4f4f4;
    -fx-padding: 0;
}

.scroll-bar:vertical
{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.scroll-bar:vertical .track
{
    -fx-border-width: 1;
    -fx-border-color: #dedede;
    -fx-background-radius: 0;
    -fx-padding: 0 14 14 0;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
}

.scroll-bar:vertical .thumb
{
    thumb-color: #bebebe;
    -fx-border-color: transparent;
    -fx-background-color: thumb-color;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
}

.scroll-bar:vertical .thumb:hover, .scroll-bar:vertical .thumb:pressed
{
    -fx-background-color: derive(thumb-color, -20%);
}

.scroll-bar:vertical .increment-button
{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0 0 14 0;
}

.scroll-bar:vertical .decrement-button
{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0 14 0 0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow
{
    -fx-shape: " ";
    -fx-padding:0;
}