.expense
{
    money-color: #D50000;
}

.income
{
    money-color: #00D500;
}

.item-name
{
    -fx-font-size: 20;
    -fx-font-family: 'Roboto Bold';
}

.item-image
{
    -fx-background-color: #ccc;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: black;
    -fx-border-radius: 24px;
    -fx-background-radius: 24px;
    -fx-border-width: 1px;
}

.item-money
{
    -fx-font-size: 24;
    -fx-text-fill: money-color;
}

.recurrence-label
{
    -fx-text-fill: #797979;
    -fx-font-family: 'Roboto Light Italic';
}