.expense
{
    money-color: #D50000;
}

.income
{
    money-color: #00D500;
}

.item-name
{
    -fx-font-size: 20;
    -fx-font-family: 'Roboto Bold';
}

.history
{
    -fx-background-color: derive(money-color, 75%);
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 4, 0.1, 1, 1);
}

.history:hover
{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 4, 0.1, 1, 1);
}

.item-image
{
    -fx-background-color: #ccc;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: black;
    -fx-border-radius: 24px;
    -fx-background-radius: 24px;
    -fx-border-width: 1px;
}

.item-money
{
    -fx-font-size: 24;
    -fx-text-fill: money-color;
}

.misc-label
{
    -fx-text-fill: #797979;
    -fx-font-family: 'Roboto Light Italic';
}