.expense
{
    money-color: #D50000;
}

.income
{
    money-color: #00D500;
}

.card
{
    -fx-padding: 12px 8px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.1, 1, 1);
    -fx-font-family: 'Roboto';
    -fx-background-color: #fefefe;
}

.tag .label
{
    -fx-font-size: 20;
}

.card:hover
{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 10, 0.1, 1, 1);
}

.history
{
    -fx-padding: 12px 8px;
    -fx-background-color: derive(money-color, 75%);
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 4, 0.1, 1, 1);
}

.history:hover
{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 4, 0.1, 1, 1);
}

.item-name
{
    -fx-font-size: 20;  
    -fx-font-family: 'Roboto Bold';
}

.item-image
{
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-radius: 24px;
    -fx-background-radius: 24px;
}

.item-money
{
    -fx-font-size: 24;
    -fx-font-name: 'Roboto Bold';
    -fx-text-fill: money-color;
}

.misc-label
{
    -fx-text-fill: #393939;
    -fx-font-family: 'Roboto Light Italic';
}