.transparent-list.list-view {
    -fx-padding: 3px ;
    -fx-background-color: transparent;
}

.transparent-list .list-cell {
    -fx-padding: 2px ;
    -fx-background-color: transparent;
    -fx-background-insets: 0px, 2px ;
}

.transparent-list .list-cell:empty {
    -fx-padding: 2px ;
    -fx-background-color: transparent;
    -fx-background-insets: 0 ;
}